/*
    Styles for SG

    style.css

    **************************
        Colors

    Teal:           #5EA8A1
    Lt. Green:      #B4D9CE
    Yellow Green:   #BEDD91
    Orange:         #F0AF5B
    Yellow:         #FFD358
    Peach:          #FFD1BD
    Red:            #E65E67

*/

/*-----------------------------
    General Styles
    ---------------------------*/

html
{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/*-----------------------------
    Layout
    ---------------------------*/

#social-nav
{
    background: #B4D9CE;
    height: 130px;
}

#social-nav ul
{
    float: right;
}

#logo-container
{
    margin-left: 85px;
    float: left;
    display: block;
}

#splash-container
{
    float: left;
    display: block;
    margin-left: 20px;
}

#splash-container img
{
    width: 1262px;
    height: auto;
}

#logo-container img
{
    width: 420px;
}

#hero
{
    margin: 0 20px;
}


#main-navigation
{
    background: #B4D9CE;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
}

#main-navigation > ul
{
    margin-left: 90px;
}

#main-navigation ul li
{
    margin-right: 70px;
}
#about-drop
{
    background-image: url("../imgs/yellow-banner.png");
}
#projects-drop
{
    background-image: url("../imgs/orange-banner.png");
}
#lifestyle-drop
{
    background-image: url("../imgs/peach-banner.png");
}
#portfolio-drop
{
    background-image: url("../imgs/red-banner.png");
}

#about-drop, #projects-drop, #lifestyle-drop, #portfolio-drop
{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 170px;
}

#about-drop li, #projects-drop li, #lifestyle-drop li, #portfolio-drop li
{
    clear:both;
    font-size: 40px;
}
/*
#about-drop img
{
    width: 180px;
    margin-left: -15px;
}

#projects-drop img, #lifestyle-drop img, #portfolio-drop img
{
    width: 180px;
    margin-left: 10px;
}*/

aside
{
    float: right;
    margin-right: 100px;
}

#img-container
{
    margin-left: 40px;
    background-color: #5EA8A1;
    width: 224px;
}

#img-container img
{
    padding: 12px;
    width: 200px;
}

/*-----------------------------
    Navigation
    ---------------------------*/

nav ul li
{
    list-style-type: none;
    float: left;
}

nav ul li a img
{
    width: 100px;
    height: auto;
    margin-left: 10px
}

nav ul li:last-of-type
{
    margin-right: 100px;
}

article
{
    clear: both;
}

/*-----------------------------
    Footer
    ---------------------------*/

/*-----------------------------
    Global Styles
    ---------------------------*/

.clearfix:before, .clearfix:after
{
    content:"";
    display: table;
}

.clearfix:after
{
    clear:both;
}

.clearfix
{
    zoom: 1;
}