/*
    Styles for SG

    style.css

    **************************
        Colors

    Teal:           #5EA8A1
    Lt. Green:      #B4D9CE
    Yellow Green:   #BEDD91
    Orange:         #F0AF5B
    Yellow:         #FFD358
    Peach:          #FFD1BD
    Red:            #E65E67

*/
/*-----------------------------
    Custom Fonts and Topography
    ---------------------------*/
#yellow-banner, #orange-banner, #peach-banner, #red-banner {
  width: 200px;
  height: 370px;
  margin-top: -1px; }
  #yellow-banner ul, #orange-banner ul, #peach-banner ul, #red-banner ul {
    margin-left: -15px;
    padding-left: 35px; }
  #yellow-banner li, #orange-banner li, #peach-banner li, #red-banner li {
    clear: both;
    font-size: 40px;
    line-height: 61px;
    margin-top: 10px; }

@font-face {
  font-family: 'mathletebulky';
  src: url("../fonts/Mathlete-Bulky-webfont.eot");
  src: url("../fonts/Mathlete-Bulky-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mathlete-Bulky-webfont.woff") format("woff"), url("../fonts/Mathlete-Bulky-webfont.ttf") format("truetype"), url("../fonts/Mathlete-Bulky-webfont.svg#mathletebulky") format("svg");
  font-weight: normal;
  font-style: normal; }
aside {
  font-family: "mathletebulky", Century Gothic, sans-serif;
  margin-top: 15px; }
  aside p {
    color: #F0AF5B;
    font-size: 50px;
    line-height: 25px;
    margin-left: 100px; }

#main-navigation {
  background: #B4D9CE;
  line-height: 100px; }
  #main-navigation .has-dropdown > a {
    font-family: "mathletebulky", Century Gothic, sans-serif;
    font-size: 3rem;
    color: #5EA8A1; }
    #main-navigation .has-dropdown > a:hover {
      color: #4a8983; }
  #main-navigation a {
    text-decoration: none;
    color: #fff;
    font-family: "mathletebulky", Century Gothic, sans-serif;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.01); }
  #main-navigation ul {
    margin-left: 15px; }
    #main-navigation ul li {
      margin-right: 35px; }

article {
  font-family: Century Gothic, sans-serif; }

/*-----------------------------
    General Styles
    ---------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/*-----------------------------
    Layout
    ---------------------------*/
#social-nav {
  background: #B4D9CE;
  padding-top: 10px;
  padding-bottom: 10px; }

#hero {
  margin: 15px 0; }

#yellow-banner {
  background-color: #FFD358;
  background: rgba(255, 255, 255, 0.01) url("../imgs/yellow-banner.png") no-repeat;
  background-size: 95%; }
  #yellow-banner li a {
    color: #fff;
    text-decoration: none; }
    #yellow-banner li a:hover {
      color: #f1b200;
      text-decoration: underline; }

#orange-banner {
  background-color: #F0AF5B;
  background: rgba(255, 255, 255, 0.01) url("../imgs/orange-banner.png") no-repeat;
  background-size: 95%; }
  #orange-banner li a {
    color: #fff;
    text-decoration: none; }
    #orange-banner li a:hover {
      color: #d27f13;
      text-decoration: underline; }

#peach-banner {
  background-color: #FFD1BD;
  background: rgba(255, 255, 255, 0.01) url("../imgs/peach-banner.png") no-repeat;
  background-size: 95%; }
  #peach-banner li a {
    color: #fff;
    text-decoration: none; }
    #peach-banner li a:hover {
      color: #ff8a57;
      text-decoration: underline; }

#red-banner {
  background-color: #E65E67;
  background: rgba(255, 255, 255, 0.01) url("../imgs/red-banner.png") no-repeat;
  background-size: 95%; }
  #red-banner li a {
    color: #fff;
    text-decoration: none; }
    #red-banner li a:hover {
      color: #c01e29;
      text-decoration: underline; }

#img-container {
  /*
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: $primary-background-color;
  width: 224px;
  */
  margin-left: 75px;
  margin-bottom: 20px;
  background-color: #B4D9CE;
  width: 150px;
  border-radius: 100%; }
  #img-container img {
    padding: 12px;
    border-radius: 100%;
    width: 150px; }

article {
  margin-top: 15px; }

/*-----------------------------
    Zurb Overwrites
    ---------------------------*/
#main-header, #main-navigation-container {
  max-width: 100%; }

.top-bar-section ul li {
  background: rgba(255, 255, 255, 0.01); }

/*# sourceMappingURL=styles.css.map */
