/*
    Styles for SG

    style.css

    **************************
        Colors

    Teal:           #5EA8A1
    Lt. Green:      #B4D9CE
    Yellow Green:   #BEDD91
    Orange:         #F0AF5B
    Yellow:         #FFD358
    Peach:          #FFD1BD
    Red:            #E65E67

*/

/*-----------------------------
    Custom Fonts and Topography
    ---------------------------*/

$primary-link-color: #5EA8A1;
$primary-background-color: #B4D9CE;
$near-transparent-white: rgba(#fff, 0.01);
$yellow-banner: #FFD358;
$orange-banner: #F0AF5B;
$peach-banner: #FFD1BD;
$red-banner: #E65E67;

%banner_props
{
  width: 200px;
  height: 370px;
  margin-top: -1px;
  ul{
    margin-left: -15px;
    padding-left: 35px;
  }

  li{
    clear:both;
    font-size: 40px;
    line-height: 61px;
    margin-top: 10px;
  }
}

@mixin banner($color, $name)
{
  ##{$name}
  {
    background-color: $color;
    li{
      a{
        color: #fff;
        text-decoration: none;
        &:hover
        {
          color: darken($color, 20%);
          text-decoration: underline;
        }
      }
    }
    background: $near-transparent-white url("../imgs/#{$name}.png") no-repeat;
    background-size:95%;
    @extend %banner_props;
  }
}

$mathlete-font-family: 'mathletebulky', Century Gothic, sans-serif;


@font-face
{
  font-family: 'mathletebulky';
  src: url('../fonts/Mathlete-Bulky-webfont.eot');
  src: url('../fonts/Mathlete-Bulky-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mathlete-Bulky-webfont.woff') format('woff'),
  url('../fonts/Mathlete-Bulky-webfont.ttf') format('truetype'),
  url('../fonts/Mathlete-Bulky-webfont.svg#mathletebulky') format('svg');
  font-weight: normal;
  font-style: normal;
}

aside
{
  font-family: $mathlete-font-family;
  margin-top: 15px;

  p
  {
    color: #F0AF5B;
    font-size: 50px;
    line-height: 25px;
    margin-left: 100px;
  }
}

#main-navigation
{
  background: $primary-background-color;
  line-height: 100px;

  .has-dropdown
  {
    >a
    {
      font-family: $mathlete-font-family;
      font-size: 3rem;
      color: $primary-link-color;
      &:hover
      {
        color: darken($primary-link-color, 10%);
      }
    }
  }

  a
  {
    text-decoration: none;
    color: #fff;
    font-family: $mathlete-font-family;
    font-size: 1.5em;
    background: $near-transparent-white;
  }

  ul
  {
    margin-left: 15px;

    li
    {
      margin-right: 35px;
    }
  }

}

article
{
  font-family: Century Gothic, sans-serif;
}

/*-----------------------------
    General Styles
    ---------------------------*/

html
{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/*-----------------------------
    Layout
    ---------------------------*/

#social-nav
{
  background: $primary-background-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

#hero
{
  margin: 15px 0;

}


@include banner($yellow-banner, "yellow-banner");
@include banner($orange-banner, "orange-banner");
@include banner($peach-banner, "peach-banner");
@include banner($red-banner, "red-banner");


#img-container
{

  //original
  /*
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: $primary-background-color;
  width: 224px;
  */

  margin-left: 75px;
  margin-bottom: 20px;
  background-color: $primary-background-color;
  width: 150px;
  border-radius: 100%;

  img
  {
    padding: 12px;
    //original Width
    //width: 200px;

    //remove if disliked
    border-radius: 100%;
    width: 150px;
  }

}

article
{
  margin-top: 15px;
}

/*-----------------------------
    Zurb Overwrites
    ---------------------------*/

#main-header, #main-navigation-container
{
  max-width: 100%;
}

.top-bar-section ul li {
  background: $near-transparent-white;
}