/*
    Styles for SG

    style.css

    **************************
        Colors

    Teal:           #5EA8A1
    Lt. Green:      #B4D9CE
    Yellow Green:   #BEDD91
    Orange:         #F0AF5B
    Yellow:         #FFD358
    Peach:          #FFD1BD
    Red:            #E65E67

*/

/*-----------------------------
    Custom Fonts and Topography
    ---------------------------*/

@font-face
{
    font-family: 'mathletebulky';
    src: url('../fonts/Mathlete-Bulky-webfont.eot');
    src: url('../fonts/Mathlete-Bulky-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mathlete-Bulky-webfont.woff') format('woff'),
    url('../fonts/Mathlete-Bulky-webfont.ttf') format('truetype'),
    url('../fonts/Mathlete-Bulky-webfont.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;
}

#main-navigation a, aside
{
    font-family: 'mathletebulky', Century Gothic, sans-serif;
}
#main-navigation a
{
    text-decoration: none;
    color: #fff;
}

article
{
    font-family: Century Gothic, sans-serif;
}

/*-----------------------------
    General Styles
    ---------------------------*/

html
{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/*-----------------------------
    Layout
    ---------------------------*/

#social-nav
{
    background: #B4D9CE;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*#social-nav ul*/
/*{*/
    /*float: right;*/
/*}*/

/*#logo-container*/
/*{*/
    /*margin-left: 85px;*/
    /*float: left;*/
    /*display: block;*/
/*}*/

/*#splash-container*/
/*{*/
    /*float: left;*/
    /*display: block;*/
    /*margin-left: 20px;*/
/*}*/

/*#splash-container img*/
/*{*/
    /*width: 1311px;*/
    /*height: auto;*/
/*}*/

/*#logo-container img*/
/*{*/
    /*width: 420px;*/
/*}*/

#hero
{
    margin: 15px 0;

}


#main-navigation
{
    background: #B4D9CE;
    font-size: 60px;
    line-height: 100px;
}

#main-navigation > ul
{
    margin-left: 90px;
}

#main-navigation ul li
{
    margin-right: 70px;
}

#about-drop
{
    background-image: url("../imgs/yellow-banner.png");
}
#projects-drop
{
    background-image: url("../imgs/orange-banner.png");
}
#lifestyle-drop
{
    background-image: url("../imgs/peach-banner.png");
}
#portfolio-drop
{
    background-image: url("../imgs/red-banner.png");
}

#about-drop, #projects-drop, #lifestyle-drop, #portfolio-drop
{
    background-repeat: no-repeat;
    background-size:95%;
    width: 200px;
    height: 370px;
    margin-top: 15px;
}

#about-drop ul, #projects-drop ul, #lifestyle-drop ul, #portfolio-drop ul
{
    margin-left: -15px;
    padding-left: 35px;
}

#about-drop li, #projects-drop li, #lifestyle-drop li, #portfolio-drop li
{
    clear:both;
    font-size: 40px;
    line-height: 61px;
}
/*
#about-drop img
{
    width: 180px;
    margin-left: -15px;
}

#projects-drop img, #lifestyle-drop img, #portfolio-drop img
{
    width: 180px;
    margin-left: 10px;
}*/

aside
{
    /*float: right;*/
    /*margin-right: 100px;*/
    margin-top: 15px;
}

#img-container
{
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #5EA8A1;
    width: 224px;
}

#img-container img
{
    padding: 12px;
    width: 200px;
}

aside p
{
    color: #F0AF5B;
    font-size: 50px;
    line-height: 25px;
    margin-left: 100px;
}


article
{
    margin-top: 15px;
    /*float: left;*/
    /*width: 1000px;*/
}

/*-----------------------------
    Navigation
    ---------------------------*/

nav ul li
{
    list-style-type: none;
    float: left;
}

nav ul li a img
{
    width: 100px;
    height: auto;
    margin-left: 10px
}

nav ul li a img:hover
{
    position: relative;
    top: -2px;
}

nav ul li:last-of-type
{
    margin-right: 100px;
}

#main-navigation a:hover
{
    color: #36454f;
    text-decoration: underline;
}

/*-----------------------------
    Footer
    ---------------------------*/

/*-----------------------------
    Global Styles
    ---------------------------*/

/*-----------------------------
    Zurb Overwrites
    ---------------------------*/

#main-header, #main-navigation-container
{
    max-width: 100%;
}